a.footer-useful-links {
    color: #ddd1d1
}
.header-member-info a {
    color: #ddd1d1
}
a.topic-list-header--title {
    color: #ddd1d1!important
}
.wbtn {
    color: #ddd1d1!important
}
.postbody .content {
    font-family: lucida grande, trebuchet ms, Verdana, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 5px
}
.centered {
    text-align: center
}
a.link,
a.link:link,
a.link:visited,
a.link:hover,
a.link:active {
    color: #333
}
.bronze {
    color: #ff8000;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3)
}
.silver {
    color: #999;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3)
}
.gold {
    color: #ffbf40;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .1)
}
.platinum {
    color: #8080bf;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3)
}
.diamond {
    color: #00bfff;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3)
}
h1.head {
    color: #f1f3f2;
    text-shadow: 2px 2px 0 #3e4947;
    font-size: 50px;
    font-weight: 700
}
h2.head {
    color: #ddd1d1;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    font-size: 22px
}
.tcontent { 
    padding: 15px 20px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 16px
}
a.tcontent {
    color: blue
}
a.play {
    color: #333;
    font-weight: bolder;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .2)
}
.hs_users {
    width: 100%;
    margin: 0
}
.hs_users td:nth-child(even) {
    width: 50%
}
.alert {
    padding: 15px;
    background-color: #a94442;
    color: #fff;
    margin-bottom: 15px;
    text-align: center
}
.alert.info {
    background-color: #0081b4
}
.alert.success {
    background-color: #4caf50
}
.alert.warning {
    background-color: #ff9800
}
.hs_table a {
    color: #333
}
.highscores {
    width: 100%
}
.highscores th {
    font-size: 17px;
    padding: 12px 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .2);
    text-align: center
}
.highscores tr {
    font-size: 16px
}
.highscores tr:nth-child(even) {
    background: rgba(0, 0, 0, .02)
}
.highscores td {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .01);
    text-align: center
}
.highscores td a {
    font-weight: bolder
}
.highscores td a:hover {
    text-decoration: none
}
.shop_table {
    width: 100%
}
.shop {
    width: 100%;
    margin-top: -2px
}
.shop th {
    font-size: 15px;
    padding: 12px 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, .01);
    background: rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .01);
    text-align: center
}
.shop tr {
    font-size: 15px
}
.shop tr:nth-child(even) {
    background: rgba(0, 0, 0, .02)
}
.shop td {
    padding: 9px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .01);
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, .03)
}
.q0 {
    color: #858585!important
}
.q1 {
    color: #333!important
}
.q2 {
    color: #0faf03!important
}
.q3 {
    color: #198eff!important
}
.q4 {
    color: #b048f8!important
}
.q5 {
    color: #ff8000!important
}
.q6 {
    color: #b59c50!important
}
.cbtn {
    color: #acabab!important
}
.gbtn {
    color: #ccc!important
}
.item_info {
    cursor: help
}
.store_table {
    width: 100%
}
.store {
    width: 100%;
    margin-top: -2px;
    background-color: #fff
}
.store th {
    font-size: 16px;
    padding: 12px 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, .01);
    background: rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .01);
    text-align: center
}
.store tr {
    font-size: 14px
}
.store tr:nth-child(even) {
    background: rgba(0, 0, 0, .02)
}
.store td {
    padding: 9px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .01);
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, .03)
}
.store td:first-child {
    text-align: left
}
.pagination {
    margin: 5px 0 0 15px;
    margin-top: -30px!important
}
.pagination>ul {
    font-size: 0;
    vertical-align: middle
}
.pagination>ul>li {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #fff!important
}
.pagination>ul>li>span,
.pagination>ul>li>a {
    display: block;
    padding: 3px 8px!important;
    margin-left: -1px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 0;
    color: #303030;
    background-color: transparent;
    border-color: #e9e9e9;
    -webkit-transition: color .25s ease, background-color .25s ease-in-out, border-color .25s ease;
    transition: color .25s ease, background-color .25s ease-in-out, border-color .25s ease
}
.pagination>ul>li>span:hover,
.pagination>ul>li.active>span,
.pagination>ul>li>a:hover,
.pagination>ul>li>a:focus,
.pagination>ul>li.active>a {
    color: #fff;
    background-color: #ff6c2c;
    border-color: #ff6c2c
}
.pagination li.page-jump a,
.pagination li.next a,
.pagination li.previous a {
    width: auto;
    height: auto;
    padding: 3px 10px;
    background-position: -49px 5px
}
.pagination li.previous a {
    background-position: -28px 5px;
    margin-left: 0
}
.pagination li.next a:hover,
.pagination li.next a:focus {
    background-position: -49px -15px
}
.pagination li.previous a:hover,
.pagination li.previous a:focus {
    background-position: -28px -15px
}
.btn-success {
    background-color: #57793e;
    border-color: #2f4523
}
.btn-danger {
    background-color: #7e3e36;
    border-color: #5d272d
}
.btn-info {
    background-color: #498395;
    border-color: #3d92ac
}
.btn-warning {
    background-color: #ba7a20;
    border-color: #a57c42
}