html {
    background: url(../images/background.jpg) #000 no-repeat top center;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    color: #999;
}
button {
    margin: 3px;
    padding: 0;
    font-family: 'Calibri', 'Helvetica', 'Arial', sans-serif;
    font-size: 11px;
    color: #fc0;
    background: url(../images/button_small_sprite.jpg) repeat-x;
    background-size: 140px 300%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #000;
}
a:link,
a:visited {
    color: #4b8cb4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
form {
    margin: 0;
    padding: 0;
}
td,
th {
    padding: 0;
    margin: 0;
    vertical-align: inherit;
}
tr {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
}
input {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #272727;
    color: #999;
    font-size: 11px;
    padding: 4px;
}
textarea {
    background: #0f1418;
    border: 1px solid #1b272d;
    color: #999;
}
summary {
    cursor: pointer;
}
summary::-webkit-details-marker {
    display: none;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    z-index: -2;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    border: 1px solid #2b2b2b;
    background: #060606;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .2em;
    left: .15em;
    font-size: 1em;
    line-height: 0.8;
    color: #92c300;
    font-family: Helvetica, Arial, sans-serif;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
label:hover:before {
    border: 1px solid #353535 !important;
}
.loginoptions {
    margin: 2px 0 0 5px;
}
.no_display {
    display: none;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.block {
    display: block;
}
.button {
    background: url(../images/button_sprite.jpg) repeat-x;
    background-size: 150px 300%;
    border: 1px solid black;
    border-bottom: 1px solid #2a2a2a;
}
.button:hover {
    background-position: 0 50%;
    cursor: pointer;
}
.button:active {
    background-position: 0 100%;
}
button:hover {
    background-position: 0 50%;
    cursor: pointer;
}
button:active {
    background-position: 0 100%;
    cursor: pointer;
    font-family: 'Calibri', 'Arial', sans-serif;
}
.small_button60 {
    min-width: 60px;
    height: 30px;
    box-sizing: border-box;
    padding: 0 10px;
}
.small_button_pay {
    min-width: 60px;
    height: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    float: right;
    margin-right: 15px;
}
a.small_button_pay {
    line-height: 20px;
    font-family: 'Calibri', 'Arial', sans-serif;
    font-size: 11px;
    color: #fc0;
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #000;
}
a.small_button_pay:hover {
    text-decoration: none;
}
.small_button50 {
    min-width: 50px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 5px;
}
.big_button {
    width: 300px;
    height: 43px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.big_button200 {
    width: 200px;
    height: 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
span.capital {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}
#social_networks {
    float: right;
    padding-right: 7px;
    color: #999;
}
.sn_facebook {
    padding-right: 3px;
}
.sn_facebook:hover {
    color: #d1a804;
    cursor: pointer;
}
.sn_twitter:hover {
    color: #d1a804;
    cursor: pointer;
}
#tbc_tab {
    text-align: center;
    padding: 12px 0;
    margin: 15px 15px 15px 0;
    float: right;
}
#wotlk_tab {
    text-align: center;
    padding: 12px 0;
    margin: 15px 0 15px 15px;
    float: left;
}
#tbc_tab_content,
#wotlk_tab_content {
    overflow: hidden;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#info_box {
    border-bottom: 1px solid #2b2b2b;
    margin: 15px 15px 15px 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
#info_box span {
    color: #69c;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}
.loading {
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.loading.load_success {
    background-image: url("../images/success.gif") !important;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
.loading.load_error {
    background-image: url("../images/error.gif") !important;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
#login-box td {
    color: #6b939f;
}
header,
#content_center_main_block p,
.news_right_header,
#acc_manager_tab_as,
#acc_manager_tab_cp,
#acc_manager_tab_ce,
#acc_manager_tab_cu,
#acc_manager_tab_ct,
#acc_manager_tab_nc,
#acc_manager_tab_lfa,
#wotlk_clg,
#tbc_clg,
#clg_header,
#acc_manager_tabs div,
.recent-topics-author {
    color: #6b939f;
}
.tos_text_header {
    color: #6b939f;
    margin-bottom: 3px;
    margin-top: 15px;
}
#tos_header {
    color: #6b939f;
    font-weight: bold;
}
#site-wrapper {
    width: 1000px;
    margin: -18px auto 0;
    text-shadow: 1px 1px 1px #000;
}
.postdisplay {
    display: block;
    background: #1b1b1b;
    border: 1px solid #000;
    padding: 2px;
}
.postdisplay div.postingcontainer21 {
    display: block;
    border: 1px solid #000;
    background: #13191e;
}
#postshell21 {
    width: 90%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    background: #13191e;
}
#posttable21 td {
    padding: 5px;
    vertical-align: top;
}
.tabelbasic1 p {
    margin: 0;
}
#tos_agree {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
#tos_text {
    background: #0f1418;
    padding: 10px;
    border: 1px solid #1b272d;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}
.tos_text_header:first-child {
    margin-top: 0;
}
p#tos_info {
    margin: 10px 0 10px 0;
}
#stripe {
    width: 100%;
    height: 16px;
    background: url(../images/stripe.png) repeat-x top center;
    border-bottom: 1px solid #191919;
    box-shadow: 0 0 10px #000;
}
nav#top {
    letter-spacing: 2px;
    font-family: 'Constantia', sans-serif;
    width: 1000px;
    height: 70px;
    background: url(../images/top-background.png) top center;
}
nav#top ul {
    list-style: none;
    margin: 0 35px;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
nav#top ul li {
    color: #999;
    display: inline;
    width: 231px;
    height: 53px;
    float: left;
    text-align: center;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
}
nav#top ul li.menu_sep {
    width: 1px;
    background-image: -webkit-linear-gradient(bottom, rgba(90, 90, 90, 0) 10%, rgba(90, 90, 90, 0.5) 30%, rgba(90, 90, 90, 0.5) 70%, rgba(90, 90, 90, 0) 90%);
    background-image: -moz-linear-gradient(bottom, rgba(90, 90, 90, 0) 10%, rgba(90, 90, 90, 0.5) 30%, rgba(90, 90, 90, 0.5) 70%, rgba(90, 90, 90, 0) 90%);
    background-image: -o-linear-gradient(bottom, rgba(90, 90, 90, 0) 10%, rgba(90, 90, 90, 0.5) 30%, rgba(90, 90, 90, 0.5) 70%, rgba(90, 90, 90, 0) 90%);
    background-image: -ms-linear-gradient(bottom, rgba(90, 90, 90, 0) 10%, rgba(90, 90, 90, 0.5) 30%, rgba(90, 90, 90, 0.5) 70%, rgba(90, 90, 90, 0) 90%);
    background-image: linear-gradient(bottom, rgba(90, 90, 90, 0) 10%, rgba(90, 90, 90, 0.5) 30%, rgba(90, 90, 90, 0.5) 70%, rgba(90, 90, 90, 0) 90%);
}
nav#top ul li:not(.menu_sep):hover {
    color: #efb93f;
    text-shadow: 0.1em 0.1em 0.2em black;
    background: rgba(30, 30, 30, 0.15);
    box-shadow: inset 0 0 30px #090909;
}
nav#top a:hover {
    text-decoration: none;
}
#slideshow {
    position: relative;
    width: 560px;
    height: 196px;
    margin: 0 auto 1px;
}
#slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    opacity: 0.0;
}
#slideshow img.active {
    z-index: 10;
    opacity: 1.0;
}
#slideshow img.last-active {
    z-index: 9;
}
#brick1,
#brick2,
#brick3,
#brick4 {
    margin-top: 10px;
    position: absolute;
    background: #13191e;
    padding: 2px 5px;
    border: 1px solid #1b272d;
}
#brick1:hover,
#brick2:hover,
#brick3:hover,
#brick4:hover {
    cursor: pointer;
    background: #253036;
}
#brick1 {
    margin-left: 482px;
}
#brick2 {
    margin-left: 502px;
}
#brick3 {
    margin-left: 522px;
}
#brick4 {
    margin-left: 542px;
}
#brick_break {
    width: 1px;
    height: 2px;
    float: left;
}
#content {
    position: relative;
    margin: 235px 0 0;
    padding: 40px 0 0;
    overflow: hidden;
}
#content > div {
    position: relative;
    overflow: hidden;
}
#content_center_wrapper {
    box-shadow: 0 0 10px #000;
    left: 220px;
    width: 560px;
    min-height: 600px;
    margin-top: -30px;
    background: url(../images/kitara.jpg);
    border: 1px solid rgba(211, 211, 211, 0.1);
}
.statistics {
    border-top: none;
    padding: 10px 3px;
    margin-top: 5px;
    position: relative;
}
.statistics ~ .statistics {
    border-top: 1px solid #2b2b2b;
}
.statistics_online,
.statistics_restarting,
.statistics_offline {
    float: right;
    position: absolute;
    top: 10px;
    right: 5px;
}
.statistics_online {
    color: #4aa23b;
}
.statistics_restarting {
    color: #d1a804;
}
.statistics_offline {
    color: #a52020;
}
.statistics_maintenance {
    color: #e9451c;
    position: relative;
    top: 5px;
}
.statistics:first-child {
    border-top: 0;
}
.statistics_title {
    font-weight: bold;
    margin: 0 auto;
}
.statistics_separate {
    height: 2px;
}
nav.left ul {
    padding: 0;
    margin: 10px 0 0 0;
}
nav.left ul li {
    list-style: none;
    border-top: 1px solid #2b2b2b;
}
nav.left ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 -10px;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
}
nav.left ul li a:hover {
    background: rgba(0, 0, 0, 0.3);
    padding-left: 25px;
}
nav.left ul li:first-child {
    border-top: 0;
}
.content_title_LEFT {
    background: url('../images/content_center_topbg.png') repeat-x;
    padding: 4px 0 5px 6px;
    margin: -10px -10px 5px -10px;
    color: #d1a804;
    box-shadow: 0 2px 15px #000;
    border-left: 1px solid #111;
}
.content_title_RIGHT {
    background: url('../images/content_center_topbg.png') repeat-x;
    padding: 4px 0 5px 6px;
    margin: -10px -10px 5px -10px;
    color: #d1a804;
    box-shadow: 0 2px 15px #000;
    border-right: 1px solid #111;
}
.content_title_RIGHT a {
    color: #d1a804;
}
button#logout {
    float: right;
    margin-top: -29px;
    height: 20px;
    border: 0;
    width: 16px;
    cursor: pointer;
}
button#logout:hover {
    background-position: 0 -20px;
}
section.center {
    float: left;
    width: 100%;
    background: url('../images/content_center_topbg.png') repeat-x;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    overflow: auto;
}
section.center nav {
    text-align: center;
}
section.center nav span.current a {
    color: #a6c6ff;
}
section.center nav span.current a:before {
    content: '[';
}
section.center nav span.current a:after {
    content: ']';
}
section.center nav span:not(:last-child):after {
    content: ' |';
}
section.center > header {
    height: 28px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 28px;
}
section.center > header img:first-child {
    margin-left: -10px;
}
article header {
    color: #6b939f;
    margin: 20px 5px 0;
	padding-left: 6px;
	margin-top: 0px;
	font-size: 20px;
	margin-bottom: 0;
    overflow: hidden;
}
article header .title {
    float: left;
}
article header .date {
    float: right;
    color: #666;
}
.newsWrapper {
    border-bottom: 1px solid #2b2b2b;
    margin: 5px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
}
.content-side-space {
    width: 200px;
    float: left;
    height: 10px;
}
#content_center_wrapper_extended {
    margin-right: 10px;
    box-shadow: 0 0 10px #000;
    left: 220px;
    width: 760px;
    min-height: 700px;
    margin-top: -30px;
    background: url(../images/kitara.jpg);
    border: 1px solid rgba(211, 211, 211, 0.1);
}
#content_right_wrapper {
    margin-right: 20px;
    box-shadow: 0 0 10px #000;
    position: absolute !important;
    width: 200px;
    background-size: 100%;
    right: 0;
}
section.right {
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.2);
    background: url('../images/dark_left.jpg');
    padding: 10px;
    overflow: hidden;
}
section.right .loading {
    width: 15px;
    height: 15px;
    background: url("../images/loading.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: text-bottom;
}
section.left {
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.2);
    background: url('../images/dark_left.jpg');
    padding: 10px;
    overflow: hidden;
}
section.left span.punished {
    color: #fe0000;
}
section.left a {
    color: #808080;
}
#content_left_wrapper {
    margin-left: 20px;
    box-shadow: 0 0 10px #000;
    position: absolute !important;
    width: 200px;
    background-size: 100%;
    left: 0;
}
#recent_topics_wrapper a {
    text-decoration: none;
}
#recent_topics_wrapper a:last-child {
    margin-bottom: 5px;
}
.recent_topics {
    margin: 0 -10px;
    padding: 3px 5px 3px 10px;
    cursor: pointer;
}
.recent_topics:hover {
    background: rgba(0, 0, 0, 0.3);
}
.aboutus_brick_header {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.aboutus_brick {
    padding: 30px;
    overflow: hidden;
    min-height: 210px;
}
.aboutus_brick:not(:last-child) {
    border-bottom: 1px solid #2b2b2b;
}
.aboutus_brick_image_left {
    text-align: center;
    padding-top: 15px;
    float: left;
    width: 30%;
}
.aboutus_brick_image_left img {
    width: 70%;
    float: left;
    padding-left: 15px;
}
.aboutus_brick_image_right {
    text-align: center;
    padding-top: 15px;
    float: left;
    width: 30%;
}
.aboutus_brick_image_right img {
    width: 70%;
    float: right;
    padding-right: 15px;
}
.aboutus_brick_text {
    float: left;
    width: 70%;
}
footer {
    position: relative;
    text-align: center;
    margin: 0 auto 10px auto;
    width: 980px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #526069;
    font-size: 11px;
}
footer a:visited,
footer a:link {
    color: #526069;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
}
#footer_pages {
    letter-spacing: 1px;
    margin: 10px 0;
}
a.graylink,
a.graylink:visited,
a.graylink:link {
    color: #999;
}
#register_wrapper {
    width: 558px;
    margin: -10px auto 30px auto;
    border-left: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.register_gap {
    overflow: hidden;
}
.register_gap_sep {
    height: 1px;
    background: #2b2b2b;
    margin: 10px 0;
}
.register_gap_name {
    float: left;
    height: 24px;
    padding-left: 10px;
    padding-top: 6px;
    background-image: url("../images/button_bg.jpg");
    width: 140px;
}
.register_gap_tos {
    margin: 15px 0 10px 0;
    overflow: hidden;
}
.register_gap_tos_input {
    float: left;
    margin-left: 5px;
}
.register_gap_tos_text {
    text-align: center;
    margin-top: 1px;
}
.register_gap_input {
    border: 1px solid #2b2b2b;
    margin-left: 0;
    padding: 6px;
    height: 16px;
    width: 200px;
    background-image: linear-gradient(bottom, #0d0d0d 23%, #121212 54%);
    background-image: -o-linear-gradient(bottom, #0d0d0d 23%, #121212 54%);
    background-image: -moz-linear-gradient(bottom, #0d0d0d 23%, #121212 54%);
    background-image: -webkit-linear-gradient(bottom, #0d0d0d 23%, #121212 54%);
    background-image: -ms-linear-gradient(bottom, #0d0d0d 23%, #121212 54%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, #0d0d0d), color-stop(0.54, #121212));
}
#register_fat_dick {
    margin: 25px auto 0 auto;
    width: 600px;
    height: 20px;
    background: #2b2b2b;
}
.account_head {
    border-bottom: 1px solid #1b272d;
    border-top: 1px solid #1b272d;
    padding: 5px 5px 5px 15px;
    margin: 15px -16px 15px -16px;
    background-color: #13191e;
    font-weight: bold;
    text-align: left;
    letter-spacing: 1px;
    font-size: 12px;
}
.account_head span {
    color: #fff;
}
.account_head img {
    margin-bottom: -3px;
}
.account_head:first-child {
    margin-top: 0;
}
.account_head_price {
    float: right;
    padding-right: 15px;
    color: #9c0;
}
.acc_manager_content section {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 1px solid #1b272d;
    margin: 0 10px 10px 10px;
    padding: 15px;
    display: none;
}
.acc_manager_content section td.text {
    padding: 0 5px 0 5px;
}
.acc_manager_content section table {
    margin: 0 auto;
    text-align: left;
    width: 275px;
}
.acc_manager_content .loading {
    float: left;
    width: 16px;
    height: 16px;
    margin: 25px 0 0;
    background-image: url("../images/loading.png");
    background-size: 100%;
    visibility: hidden;
}
.acc_manager_tabs {
    width: 587px;
    margin: 15px auto 0 auto;
    overflow: auto;
}
.acc_manager_tabs div {
    width: 73px;
    margin-right: 8px;
    padding: 5px 0 5px 0;
    border-top: 1px solid #1b272d;
    border-left: 1px solid #1b272d;
    border-right: 1px solid #1b272d;
    float: left;
    text-align: center;
}
.acc_manager_tabs div:hover {
    cursor: pointer;
}
area.promotion {
    width: 80%;
    margin: auto;
}
.left-item {
    width: 50%;
    height: 200px;
    float: left;
}
.left-item img {
    width: 100%;
    height: 200px;
}
.right-item {
    width: 50%;
    height: 200px;
    margin-left: 50%;
}
.right-item img {
    width: auto;
}
.promotional-code-label {
    display: block;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    text-shadow: 1px 2px #000;
}
.promotional-code {
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    border: 1px dashed #272727;
    letter-spacing: 5px;
    color: #2a7579;
    width: 62%;
}
.account_status {
    margin-top: 10px;
    background-color: #13191e;
    text-align: left;
    padding: 10px;
    border: 1px solid #1b272d;
}
.account_status span {
    font-weight: bold;
}
.account_status_li {
    text-align: left;
    margin: 0 10px 0 10px;
    padding: 5px;
    color: #999;
    border-right: 1px solid #1b272d;
    border-left: 1px solid #1b272d;
    border-bottom: 1px solid #1b272d;
}
.connection_guide_wrapper {
    margin: 5px 0 5px 0;
}
.connection_guide_realmlist {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #1b272d;
}
#clg_wrapper {
    overflow: auto;
}
#clg_content {
    margin-bottom: 10px;
}
#clg_content:last-child {
    margin-bottom: 0;
}
#table_dl {
    margin: 15px;
    width: 522px;
    color: #fc0;
    vertical-align: middle;
}
#table_dl td {
    padding: 2px;
}
#donate_button_wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
#donate_item_wrapper {
    overflow: hidden;
}
#donate_table {
    width: 500px;
}
#donate_table td#radio {
    width: 15px;
}
#donate_table td {
    padding: 5px;
}
#donate_table tr#headers {
    color: #fc0;
    background-color: rgba(0, 0, 0, 0.8);
}
#donate_table tr {
    background-color: rgba(0, 0, 0, 0.6);
}
#donate_table tr.second_color {
    background-color: rgba(0, 0, 0, 0.2);
}
.donate_wrapper {
    margin: 10px 0;
}
.donate_wrapper.left {
    float: left;
    margin-left: 30px;
}
.donate_wrapper.right {
    float: right;
    margin-right: 30px;
}
.donate_pay_wrapper {
    box-shadow: 0 0 5px #000;
    margin: -10px auto 0 auto;
    overflow: hidden;
    background-color: #13191e;
    border: 1px solid #1b272d;
    width: 220px;
}
.donate_pay_button {
    margin: 5px;
    width: 90px;
    float: left;
    text-align: center;
}
.donate_pay_button:hover {
    color: #fc0;
    cursor: pointer;
}
.donate_pic_wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 275px;
    height: 175px;
    border: 1px solid #1b272d;
    box-shadow: 0 0 5px #000;
}
.donate_pic_wrapper:hover {
    cursor: pointer;
    border: 1px solid #1b272d;
}
.donate_pic_text {
    background: rgba(0, 0, 0, 0.8);
    height: 50px;
    margin-top: 125px;
}
.donate_pic_text_name {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.donate_pic_text_price {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    color: #fc0;
}
#donate_content {
    margin-bottom: 10px;
}
#donate_content:last-child {
    margin-bottom: 0;
}
.donate_extra_view {
    display: none;
    border-top: 2px solid #1b272d;
    margin: 0 auto;
    padding: 10px;
    width: 590px;
}
.donateWrapper {
    border-bottom: 1px solid #2b2b2b;
    margin-top: 25px;
    height: 73px;
    background-color: rgba(0, 0, 0, 0.5);
}
.donateImg {
    float: left;
    margin-top: -15px;
    margin-left: 15px;
    border: 1px solid #2b2b2b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.donateImg img {
    margin-bottom: -3px;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.donateTitle {
    float: left;
    margin: 4px 0 0 10px;
    width: 615px;
}
.donateText {
    width: 630px;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;
    font-size: 13px;
}
.donatePrice {
    float: right;
    color: #9c0;
}
#forumname {
    display: none;
}
.vote_link_button {
    overflow: hidden;
    float: left;
    margin-right: 12px;
}
.vote_link_button:last-child {
    margin-right: 0;
}
.vote {
    width: 113px;
    height: 25px;
}
#buttons_wrapper {
    overflow: hidden;
    margin-bottom: 10px;
}
#vote_form_wrapper {
    margin-left: 10px;
    margin-bottom: 20px;
}
.vote_form {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    border: 1px solid #2b2b2b;
}
.vote_form td:last-child {
    width: 15px;
}
.vote_char_table {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #2b2b2b;
}
.vote_amount {
    width: 25px;
}
.vote_char_table_name {
    width: 323px;
}
td.vote_char_table_img {
    width: 30px;
}
td.vote_char_table_img img {
    width: 20px;
}
.unavailable_vote {
    padding-top: 4px;
    background: url(../images/button_unavailable.jpg) repeat-x;
    color: #fc0;
    color: gray;
    font-size: 13px;
    border: 1px solid black;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    margin-top: 3px;
}
.vote_time {
    float: left;
    padding: 4px 0;
    margin-left: 15px;
}
.vote_overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    height: 23px;
    margin: 4px 1px;
}
.post_item {
    width: auto;
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
}
.post_item .post_left {
    float: left;
    width: 574px;
}
.post_item .post_left textarea {
    background-color: transparent;
    border: 1px dashed #1b272d;
    font-family: 'Calibri', 'newCalibri', 'Arial', sans-serif;
    min-width: 568px;
    max-width: 568px;
}
.post_item .post_left .post_header {
    min-height: 19px;
    max-height: 19px;
}
.post_item .post_left .post_content {
    min-height: 100px;
}
.post_item .post_right .update_button_wrapper {
    overflow: hidden;
}
.post_item .post_update {
    float: left;
    margin: 20px 5px 0;
    padding: 6px;
    text-align: center;
    color: #fc0;
}
.new_post {
    padding: 7px 0;
    margin-bottom: 5px;
    color: #fc0;
}
.db_update_wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 266px;
}
#db_update {
    float: left;
    margin: 20px 15px 20px 35px;
    padding: 8px 0;
}
#ticket_table {
    width: 100%;
}
#ticket_table td#radio {
    width: 15px;
}
#ticket_table td {
    padding: 5px;
}
#ticket_table tr#headers {
    color: #fc0;
}
#ticket_table tr {
    background-color: transparent;
}
#ticket_table tr.second_color {
    background-color: #0f1418;
}
#ticket_table td.online:after {
    color: #00bc06;
    content: "Y";
}
#ticket_table td.offline:after {
    color: #f00;
    content: "N";
}
#adminpanel {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    top: 100px;
}
.infoNET {
    overflow: hidden;
    text-align: left;
}
.infoPipe {
    padding: 13px 5px;
    overflow: hidden;
    border-bottom: 1px solid #2b2b2b;
}
.infoPipe:hover {
    background: rgba(0, 0, 0, 0.2);
}
.infoPipe:first-child {
    border-top: 2px solid #2b2b2b;
}
.infoPipe:last-child {
    border-bottom: 0;
}
.infoTitle {
    width: 200px;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.infoContent {
    float: left;
}
.infoContent span.punished {
    color: #fe0000;
    font-size: 15px;
}
#layer3D {
    height: 230px;
}
#movingbg {
    width: 1300px;
    margin: 0 auto;
    height: 0;
    position: relative;
    z-index: -1;
}
#fog {
    background: url(../images/smoke.png) repeat;
    height: 500px;
    -webkit-animation: fogbg 50s linear 0s infinite;
    -moz-animation: fogbg 50s linear 0s infinite;
    -o-animation: fogbg 50s linear 0s infinite;
    animation: fogbg 50s linear 0s infinite;
}
@keyframes rotate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1522px 0;
    }
}
@-webkit-keyframes fogbg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1522px 0;
    }
}
@-moz-keyframes fogbg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1522px 0;
    }
}
@-o-keyframes fogbg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1522px 0;
    }
}
#vote_info {
    padding: 18px 20px 5px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #2b2b2b;
    margin-top: -8px;
    margin-bottom: 10px;
}
#vote_info_title {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}
ul.vote_info_li {
    list-style-image: url("../images/li.png");
    padding: 5px 10px 10px 20px;
}
ul.vote_info_li li {
    padding: 2px 0;
}
.paybuttonasa {
    padding: 3px 6px 3px 6px;
    background: url(../images/button_small_sprite.jpg) repeat-x;
    text-decoration: none;
    color: #fc0;
}
.paybuttonasa:hover {
    background-position: 0 50%;
    cursor: pointer;
    text-decoration: none;
    color: #fc0;
}
.changelog {
    overflow: hidden;
}
.changelog1 {
    padding: 10px;
    width: 640px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #2b2b2b;
}
.changelogDate {
    text-align: center;
    margin-top: 30px;
    width: 40px;
    color: #d1a804;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #2b2b2b;
    border-top: 1px solid #2b2b2b;
    border-left: 1px solid #2b2b2b;
    border-right: 1px dashed #2b2b2b;
    padding: 10px 15px;
    float: right;
}
.changelogDateMonth {
    font-size: 30px;
}
#changelogHeader {
    font-size: 14px;
    color: #6b939f;
}
ol#changelogUL {
    list-style: square;
}
#searchForm {
    text-align: center;
    margin: 30px 0 20px 0;
}
#searchFormSearch {
    width: 350px;
    height: 29px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
table#searchArmoryResults {
    width: 100%;
}
table#searchArmoryResults tr {
    background: rgba(0, 0, 0, 0.3);
}
table#searchArmoryResults td {
    padding: 3px 10px;
}
table#searchArmoryResults td a {
    color: #999;
}
table#searchArmoryResults td a:hover {
    color: white;
    cursor: pointer;
}
table#searchArmoryResults td.searchArmoryResultsName {
    width: 165px;
}
table#searchArmoryResults td.searchArmoryResultsFaction {
    text-align: center;
    width: 25px;
}
table#searchArmoryResults td.searchArmoryResultsGuild {
    text-align: right;
}
table#searchArmoryResults td.arenaTeamName img {
    float: right;
    margin-left: 3px;
}
table#searchArmoryResults th {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.2);
}
table#searchArmoryResults img {
    width: 19px;
}
#armoryLeft {
    float: left;
    width: 50%;
}
#armoryRight {
    float: right;
    width: 50%;
}
table#armoryTop {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 5px;
    width: 100%;
    float: left;
}
table#armoryTop a {
    color: #999;
}
table#armoryTop span.charName {
    font-weight: bold;
    font-size: 16px;
}
table#armoryTop span.charName em {
    color: #dfdfdf;
}
table#armoryTop span.online {
    color: #6ddd00;
}
table#armoryTop span.offline {
    color: rgba(83, 82, 82, 0.54);
}
table#armory {
    width: 99.4%;
    float: left;
}
table#armory td {
    padding: 5px 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
}
table#armoryStats {
    float: right;
    width: 99.4%;
}
table#armoryStats td {
    padding: 5px 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    text-align: left;
}
#absoluteImage {
    position: absolute;
    top: 41px;
    left: 50%;
    margin-left: -179px;
}
#absoluteImage img {
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    position: absolute;
}
#absoluteImage img:nth-child(2) {
    opacity: 0;
}
#absoluteImage img:nth-child(2):hover {
    cursor: pointer;
    opacity: 1;
}
#armoryCover {
    overflow: hidden;
    background: url(../images/armory_character_background.png) no-repeat top center;
}
#armoryInfo {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
table#armoryBottom {
    width: 100%;
}
table#armoryBottom td {
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
}
.armoryNone {
    color: #333;
    font-size: 10px;
}
#pvp_menu {
    overflow: hidden;
    margin-bottom: 7px;
    line-height: 38px;
}
#pvp_menu-left {
    float: left;
}
#pvp_menu-right {
    float: right;
}
#teamWrapper {
    overflow: hidden;
    background: url(../images/team.png) no-repeat top center;
    min-height: 268px;
}
#teamLeader {
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 10px;
}
#teamLeaderImage {
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
    margin-top: 6px;
}
#teamLeaderImage img {
    width: 70px;
}
#teamLeaderDescription {
    overflow: hidden;
    float: left;
    padding-left: 10px;
}
#teamLeaderName {
    font-size: 16px;
    font-weight: bold;
}
#teamLeaderRating {
    margin-top: 21px;
    font-weight: bold;
}
#teamName {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
}
#regSuccess {
    width: 100%;
}
#regSuccess td {
    line-height: 30px;
}
#regSuccess td:nth-child(odd) {
    text-align: right;
    width: 150px;
    padding: 0 5px 0 0;
    background-image: url("../images/button_bg.jpg");
}
#regSuccess td:nth-child(even) {
    padding: 0 0 0 15px;
    background: rgba(0, 0, 0, 0.3);
}
#regSuccess td.title i {
    padding: 0 10px;
    color: #4aa23b;
}

.panel-body {
  position: relative;
  padding: 10px;
  text-align: justify;	
}

/** Paginação **/
.pagination-wrapper {
	margin: 15px 0;
	text-align: center;
}

.pagination li {
	list-style-type: none;
	display: inline-block;
	padding-top: 30px;
	border-right: 1px solid #d1a804;
	transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}

.pagination li:hover {
	background: #d1a804;
	color: #0c0c0c;
}

.pagination li:hover a {
	color: #0c0c0c;
}

.pagination li:first-child,
.pagination li:last-child {
	list-style-type: none;
	display: inline-block;
}

.pagination li.pagination-prev:hover,
.pagination li.pagination-next:hover {
	background: none;
}

.pagination li a {
	padding: 15px 20px;
	display: inline-block;
	color: #d1a804;
	font-weight: normal;
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}

.pagination li span {
	padding: 15px 20px;
	display: inline-block;
	color: #d1a804;
	font-weight: normal;
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}

.pagination li.no-link:hover {
	background: none;
}
.pagination li.no-link span {
	color: #7e7b76;
}

.pagination li:first-child {
	border-left: 1px solid #d1a804;
}

.pagination li.pagination-prev { 
	margin: 0 16px 0 0;
	border: none;
}
.pagination li.pagination-next { 
	margin: 0 0 0 16px;
	border: none;
}

.pagination li.pagination-prev a,
.pagination li.pagination-next a {
	padding: 15px 20px;
	font-size: 12px;
}

pagination li.pagination-prev a:hover,
.pagination li.pagination-next a:hover {
	speak: none;
	font-style: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	// Better Font Rendering
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
/** Paginação Fim **/

/** Buttons **/

.btn {
	display: inline-block;
	padding: 8px 15px;
	margin: 0 10px;
	color: #d1a804;
	border: 1px solid #d1a804;
	font-size: 13px;
    background: transparent;
}

.btn:hover {
	background: #d1a804;
	color: #0e0e0e;
    cursor: pointer;
}

.button-3 {
	height: 36px;
	box-shadow: 0 0 5px #000;
	display: inline-block;
	border: 0;
	padding: 0;
	outline: none;
    background: none;
}

.button-3 span {
	display: inline-block;
	font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
}

.button-3 .button-left,
.button-3 .button-right {
	line-height: 36px;
    padding: 0;
	height: 36px;
	background: url('../img/button-1.png');
    border: 0;
    margin: 0;
    display: inline-block;
}

.button-3 .button-left {
	padding-left: 25px;
	background-position: 0 0;
}

.button-3 .button-right {
	padding-right: 25px;
	background-position: 100% -123px;
	color: #ffcb8d;
	text-shadow: 0 0 5px #dd3400;
	text-transform: uppercase;
	overflow: hidden;
}

.button-3:hover .button-left {
	background-position: 0 -41px;
}

.button-3:hover .button-right {
	color: #fff;
	cursor: pointer;
	background-position: 100% -164px;
}

.button-medium {
	height: 24px;
	display: inline-block;
	border: 0;
	padding: 0;
	outline: none;
}

.button-medium span {
	display: inline-block;
}

.button-medium .button-left,
.button-medium .button-right {
	line-height: 24px;
	height: 24px;
	background: url('../img/button-2.gif');
}

.button-medium .button-left {
	padding-left: 23px;
	background-position: 0 -3px;
}

.button-medium .button-right {
	padding-right: 23px;
	background-position: 100% -126px;
	color: #ffcb8d;
	text-shadow: 0 0 5px #dd3400;
	font-weight: normal;
	overflow: hidden;
}

.button-medium:hover .button-left {
	background-position: 0 -44px;
}

.button-medium:hover .button-right {
	color: #fff;
	cursor: pointer;
	background-position: 100% -167px;
}

/** End Buttons **/

